extends ./layout
block child-page
	div.row
		div.col-lg-12
			h3.page-header 监控列表页
	div.row
		div.col-lg-12
			div.panel.panel-default
				//- div.panel-heading Basic Table
				div.panel-body
					div.table-responsive
						table.table
							thead
								tr
									th 序号
									th 监控对象
									th 名称
									th 检测频率
									th 创建时间
									th 开关
									th 编辑
									th 详情
									th 删除
							tbody
								each item, index in monitor
									tr(class="item-id-#{item._id}")
										td= index+1
										td
											a.btn.btn-link.targetUrl(href="javascript:;")= item.targetUrl
										td= item.targetName
										td= item.frequency/60000 + '分钟' 
										td= moment(item.meta.updateAt).format('MM/DD/YYYY')
										td
											input(type="checkbox",data-id="#{item._id}",name="monitor-switch",data-off-color="warning",data-size="small")
										td 
											a(type="button",href="/monitor/update/#{item._id}").btn.btn-success.btn-sm 编辑
										td 
											button(type="button").btn.btn-Info.btn-sm 详情
										td 
											button(type="button",data-id="#{item._id}").btn.btn-Danger.btn-sm.del 删除
	script(src="/js/index.js")