extends ./layout
block child-page
	div.row
		div.col-lg-12
			h3.page-header 监控列表页
	div.row
		div.col-lg-12
			div.panel.panel-default
				//- div.panel-heading Basic Table
				div.panel-body
					div.table-responsive
						table.table
							thead
								tr
									th 序号
									th 监控对象
									th 名称
									th 检测频率
									th 创建时间
									th 编辑
									th 详情
							tbody
								each item, index in monitor
									tr(class="item-id-#{item._id}")
										td= index+1
										td
											a.btn.btn-link(href="javascript:;")= item.targetUrl
										td= item.targetName
										td= item.frequency/60000 + '分钟' 
										td= moment(item.meta.updateAt).format('MM/DD/YYYY')
										td 
											a.btn.btn-link(href="/monitor/update/#{item._id}") 编辑
										td detail
